.hostSelect {
  position: absolute;
}
.hostY {
  background-color: aqua;
}
.buttonHost {
  position: absolute;
  z-index: 8000;
}
.metrika {
  height: 100%;
  padding-bottom: 100px;
}
.hostGrafikName {
  background-color: aqua;
  height: 1px;
  width: 100%;
  position: absolute;
  margin-top: -33px;
}
