body {
  background-color: #ffffff;
}
.view {
  border: solid 4px #fff;
  background-color: #117a8b;
  color: #fff;
  height: 160px;
  padding-top: 20px;
}
.view h3 {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  margin-top: 65px;
}
.view h4 {
  position: absolute;
  font-size: 15pt;
}
.hostPage .page {
  background-color: cornsilk;
  border: solid 13px #ffffff;
  color: #117a8b;
}
.pageRow {
  border-bottom: solid 2px #117a8b;
  font-size: 16pt;
}
.pageRow h3 {
  font-size: 14pt;
}
.nameSite,
.hostPage h4 {
  color: #117a8b;
}
.boxes {
  box-shadow: 5px 5px 5px #cccccc;
  font-size: 14pt;
}
.menu {
  background-color: #ffffff;
}
.menu .list {
  cursor: pointer;
}
.menu .list:hover {
  color: #117a8b;
}
